body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151518;
}

header {
    background-color: #EABE3F;
    color: #29424d;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color:  #f1faf9 ;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.catalogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.catalogo {
    border: 1px solid #EABE3F;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex: 20px;
    box-sizing: border-box;
    color: #f1faf9;
}

.catalogo img {
    max-width: 100%;
    height: auto;
}

img {
    width: 300px;
    height: auto;
}

footer {
    background-color: #EABE3F ;
    color: #29424d;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}